@{
    Layout = "../Shared/_Layout.cshtml";
    ViewData["Title"] = "Best Destination";
}

@model List<GeoApi.Models.CountryData>

<style>
    .body-content{
        background: transparent;
        margin-top: 70px;
    }

    .features{
        display: none !important;
    }
        </style>

        <div>
	@{
	    foreach(var country in @Model.Take(5))
	    {
	        <p>@country.Name</p>
            <div id="@country.Alpha2Code" class="searchCode"></div>
	        <script type="text/javascript">
	        $.ajax({
                    type: 'POST',
                    url: '/Destination/InvokeComponentView',
                    data: {code: '@country.Alpha2Code'},
                    success:function(data){
                    console.log(data);
                },
                    error: function(req, err){ console.log('my message' + err); }
                });
		    </script>
	    }
	}
        </div>
