@{
    Layout = "../Shared/_Layout.cshtml";
    ViewData["Title"] = "Travelio - Home";
}

@model TravelioCore.Models.HomeModel

        <script>
            $(function() {

            $("#btnSearchVisaSpinnerIcon").hide();
            $("#homeCountrySpinner").show();
            $("#homeCountryIcon").hide();
            
            InitUI();

            $("#searchInput").on('click', function() {
                $('#searchInput').typed({
                    strings: ["",""],
                    backSpeed: -1000
                });
            });

            $(".typebox").typed({
                strings: ["Thailand", "Italy", "Philippines", "Japan", "Nepal", "Myanmar", "Namibia", "Indonesia"],
                typeSpeed: 150,
                callback: function() {
                    $("span").siblings(".typed-cursor").css("animation", "none");
                    $("span").siblings(".typed-cursor").css("opacity", "0");
                }
            });


            $(".travelio-alert").hide();
            $(".travelio-alert").width($(".searchVisaContainer").width());

            travelio.getLocation(function(data){
                travelio.setDepartureLocationCode(data.country_code);

                $("#homeCountrySpinner").hide();
                $("#homeCountryIcon").show();
            });

             $("[data-hide]").on("click", function(){
                $(this).closest("." + $(this).attr("data-hide")).hide();
            });

            $('.searchDestinationBox')
            // event handler
                .keyup(resizeInput)
                // resize on page load
                .each(resizeInput);

   
            $('[data-toggle="tooltip"]').tooltip();   


            $('.time-dropdown').on('click', 'li a', function(){
                    $(".time-label").text($(this).text());
                    $(".time-label").val($(this).text());
                    $("#destinationTime").val($(this).text().replace("in ",""));
                });

            $('.temperature-dropdown').on('click', 'li a', function(){
                    $(".temperature-label").text($(this).text());
                    $(".temperature-label").val($(this).text());
                    $("#destinationWeather").val($(this).text());
                });

            $('.area-dropdown').on('click', 'li a', function(){
                    $(".area-label").text($(this).text());
                    $(".area-label").val($(this).text());
                    $("#destinationArea").val($(this).text());
                });

            $("#destinationTime").val($('.time-label').text().replace("in ",""));
            $("#destinationWeather").val($('.temperature-label').text());
            $("#destinationArea").val($('.area-label').text());

            });

            function searchDestinationFormSubmit()
            {
                $("#btnSearchDestinationIcon").hide();
                $("#btnSearchDestinationSpinnerIcon").show();
                searchDestinationForm.submit();
            }

            function checkBeforeSubmit()
            {
                $("#btnSearchVisaIcon").hide();
                $("#btnSearchVisaSpinnerIcon").show();
                console.log($("#searchInput").val());
                travelio.checkCountryName($("#searchInput").val(),function(result) {
	                    console.log(result);
                        if(result)
                        {
                            $("#searchVisaForm").submit(); 
                            $("#countryAlertDiv").hide();
                        }
                        else
                        {   
                            $("#countryAlertDiv").show();
                            $("#btnSearchVisaIcon").show();
                            $("#btnSearchVisaSpinnerIcon").hide();
                        }
                    });
            };


            function resizeInput() {
                    $(this).attr('size', $(this).val().length);
            }



        </script>

        <style>
            .modal-header-2{
                background:rgb(155,177,182); 
                color:white;
                font-size:  21px;
                font-family: 'Raleway', sans-serif;
                font-weight: 300;
            }

            .modal-header-3{
                font-size:  21px;
                font-family: 'Raleway', sans-serif;
                font-weight: 300;
                color: #337ab7;
            }

            .country-list{
                overflow-y: scroll;
                max-height: 400px;
            }

            .country-list-item {
                font-size:  18px;
                font-family: 'Raleway', sans-serif;
                font-weight: 300;
	            border: none;
	            padding: 5px;
            }

            .btn-home-country{
                background-color: transparent !important;
                opacity: 1 !important;
                border-color: rgba(255,255,255,0);
                outline: none;
                padding: 10px 10px 0px 5px;
            }

            .travelio-alert{
                display: none;
                margin: 0px;
            }

            .option-label{
               color: rgb(45,108,162);
                font-weight: 100;
                background: none;
                border-width: 0px;
                font-size: 18px;
            }

            .fa-location-arrow {
                padding-top: 13px;
            }
        </style>


        
      <!-- Jumbotron -->
      <div class="jumbotron jumbotron-board">
            <div class="img"></div>
                <p class="header-text">Explore the World the smart way!</p>
                <h5 class="subheader-text">Find the best weather, the best destinations, visa requirements and paperworks. Or let us do it for you.</h5>

                <div class="searchTabDiv">
                    <ul class="nav nav-tabs searchUl">
                        <li role="presentation" class="active"><a href="#searchVisaTab" data-toggle="tab">Search Visa</a></li>
                        <li role="presentation"><a href="#searchDestination" data-toggle="tab">Search Destination</a></li>
                        <li role="presentation" class="pull-right" style="display:flex" data-toggle="tooltip" data-placement="top" title="Click or Sign In to change country!">
                            <i class="fa fa-location-arrow" aria-hidden="true" data-toggle="modal" id="homeCountryIcon"></i>
                            <i class="fa-li fa fa-spinner fa-spin" style="margin-top:12px;" id="homeCountrySpinner"></i>
                            <a href="#countriesModal" class="btn-home-country" data-toggle="modal" id="homeCountry" ></a>
                        </li>
                    </ul>

                    <div class="tab-content div-tab-content">
                        <div role="tabpanel" class="tab-pane active" id="searchVisaTab">
                        @using (Html.BeginForm("SearchVisaByCountryName", "Home", FormMethod.Post, new {@id = "searchVisaForm"}))
                    {
                            <div id="countryAlertDiv" class="alert alert-danger alert-dismissible travelio-alert" role="alert">
                                <button type="button" class="close" data-hide="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong><b>Oops!</b></strong> Select your country among the listed countries!
                            </div>
                
                        <div class="searchVisaContainer">
                            <label style="font-weight:100">What do I need to go to </label><input type="text" id="searchInput" name="destinationCountryName" class="typebox searchVisaBox countryRes" />
                            <p class="fa-stack fa-lg" id="btnVisaSearch" onclick="checkBeforeSubmit()" style="margin-left:auto; margin-top: -5px;" aria-hidden="true">
                                <i class="fa fa-search fa-stack" id="btnSearchVisaIcon"></i>
                                <i class="fa fa-spinner fa-spin fa-stack" id="btnSearchVisaSpinnerIcon" style="display:none"></i>
                            </p>
                        </div>
                        <input type="hidden" class="btn-home-country" id="departureCountryName" name="departureCountryName">
                    }
                        </div>
                        <div role="tabpanel" class="tab-pane" id="searchDestination">

                            <form id="searchDestinationForm" asp-controller="Destination" asp-action="SearchBestPlaceToGo" method="post">
                            <div class="searchDestinationContainer">
					        <select class="option-label" asp-for="BestDestination.Weather" data-toggle="tooltip" data-placement="top" title="Choose the weather you like!">
						            <option value="Any">Any place</option>
                                    <option value="Hot" selected="selected">Hot places</option>
                                    <option value="Warm">Warm places</option>
                                    <option value="Cold">Cold places</option>
					        </select>
						<select class="option-label" asp-for="BestDestination.Month" data-toggle="tooltip" data-placement="top" title="When do you want to go?">
                                    <option value="now" selected="selected">now</option>
                                    <option value="Jan">in January</option>
                                    <option value="Feb">in February</option>
                                    <option value="Mar">in March</option>
                                    <option value="Apr">in April</option>
                                    <option value="May">in May</option>
                                    <option value="Jun">in June</option>
                                    <option value="Jul">in July</option>
                                    <option value="Aug">in August</option>
                                    <option value="Sep">in September</option>
                                    <option value="Oct">in October</option>
                                    <option value="Nov">in November</option>
                                    <option value="Dec">in December</option>
                            </select>
						<select class="option-label" asp-for="BestDestination.Area" data-toggle="tooltip" data-placement="top" title="The World is so big!">
                                    <option value="World" selected="selected">in the World</option>
                                    <option value="Africa">in Africa</option>
                                    <option value="America">in America</option>
                                    <option value="Middle East">in Middle East</option>
                                    <option value="Europe">in Europe</option>
                                    <option value="Asia">in Asia</option>
                                    <option value="Oceania">in Oceania</option>
                                </select>
						<select class="option-label" asp-for="BestDestination.VisaType" data-toggle="tooltip" data-placement="top" title="Reduce the hassle of paperwork!">
                                    <option value="VF">, Visa Free</option>
                                    <option value="NA">, any Visa</option>
                                  </select>
                                <p class="fa-stack fa-lg" id="btnDestinationSearch" onclick="searchDestinationFormSubmit()" style="margin-left:auto;" aria-hidden="true">
                                    <i class="fa fa-search fa-stack" id="btnSearchDestinationIcon"></i>
                                    <i class="fa fa-spinner fa-spin fa-stack" id="btnSearchDestinationSpinnerIcon" style="display:none"></i>
                                </p>
                            </div>
    					</form>               
                        </div>
                    </div>
                </div>

      </div>

        <div id="countriesModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-3">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Passport Issuing Country</h4>
                    </div>
                <div class="modal-body">

                <ul class="list-group country-list">
                    @foreach (var item in Model.Countries) {
                            <button type="button" class="list-group-item country-list-item" onclick="setDepartureCountryValue('@item.Alpha2Code'); $('#countriesModal').modal('hide');
">@item.Name</button>
                            }
                </ul>
                </div>
            </div>
        </div>
        </div>  
